{% extends 'base.html' %}
{% load widget_tweaks %}
{% block 'title' %}
Edit
{% endblock 'title' %}

{% block 'body' %}
    <body class="d-flex align-items-center justify-content-center vh-100">

        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card shadow-sm p-4">
                <h3 class="text-center mb-4">Edit Task</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="{{ form.title.label }}" class="form-label">Title</label>
                    {{ form.title|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                    <label for="{{ form.deadline.label }}" class="form-label">DeadLine</label>
                    {{ form.deadline|add_class:"form-control" }}
                    </div>

                    <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Save Task</button>
                    </div>

                    <div class="text-center mt-3">
                    <small><a href="{% url 'todoList' %}" class="text-decoration-none">back</a></small>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </body>
{% endblock 'body' %}

