{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
Home
{% endblock 'title' %}

{% block 'body' %}
    <h1>📝 Todo List</h1>

    <table class="container">
      <thead>
        <tr>
          <th>Title</th>
          <th>Created</th>
          <th>DeadLine</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
            <tr>
                <td> {{ todo.title }} </td>
                <td> {{ todo.created }} </td>
                <td> {{ todo.deadline }} </td>
                <td>
                  {% if todo.completed %}
                      <img src="{% static 'todos/checkbox.png' %}" alt="" width="20" height="20">
                  {% else %}
                      <img src="{% static 'todos/unchecked.png' %}" alt="" width="20" height="20">
                  {% endif %}
                </td>
                <td>

                    {% if todo.completed == False %}
                      <a href="{% url 'todoEdit' todo.id %}" class="btn btn-edit">Edit</a>
                      <a href="{% url 'todoDelete' todo.id %}" class="btn btn-delete">Delete</a>
                      <a href="{% url 'todoComplete' todo.id %}" class="btn btn-done">Complete</a>
                    {% else %}
                      <a href="{% url 'todoDelete' todo.id %}" class="btn btn-delete">Delete</a>
                      <a href="{% url 'todoComplete' todo.id %}" class="btn btn-outline-primary">Undo</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'todoCreate' %}" class="add-btn">Add New Task</a>
  </div>
{% endblock 'body' %}

