{% extends 'base.html' %}
{% load widget_tweaks %}
{% block 'title' %}
Register
{% endblock 'title' %}

{% block 'body' %}
    <body class="d-flex align-items-center justify-content-center vh-100">

    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm p-4">
            <h3 class="text-center mb-4">Criar Conta</h3>

            <form action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.label }}" class="form-label">User</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.label }}" class="form-label">Email</label>
                    {{ form.email|add_class:"form-control"}}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password1.label }}" class="form-label">Password</label>
                    {{ form.password1|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                <label for="{{ form.password2.label }}" class="form-label">Confirm Password</label>
                {{ form.password2 | add_class:"form-control"}}
                </div>

                <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign In</button>
                </div>

                <div class="text-center mt-3">
                <small>Have account? <a href="#" class="text-decoration-none">Log in</a></small>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </body>
{% endblock 'body' %}

